//
//
// Grid System
//
// The `row` will be the container of the grid units as `column`
//
// Normal row:
//
// <div class='row'>
//  <div class='column large-6'></div>
//  <div class='column large-6'></div>
// </div>
//
// Nested row:
//
// <div class='row'>
//  <div class='column large-6'></div>
//    <div class='column large-6'>
//      <div class='row'>
//        <div class='column large-6'></div>
//        <div class='column large-6'></div>
//      </div>
//  </div>
// </div>
//
//




$total-columns:           12 !default;
$base-space-unit:        1em !default;
$row-max-width:         60em !default;




// gridCalc(1, 12) => 8.33333%

@function gridCalc($columnNumber, $totalColumns) {
  @return percentage($columnNumber / $totalColumns); 
}




*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.row {
  max-width: $row-max-width;
  margin: 0 auto;

  &:before,
  &:after {
    content: " ";
    display: table;
    clear: both;
  }

  .row {
    margin-left: -$base-space-unit;
    margin-right: -$base-space-unit;
  }
}

.column {
  position: relative;
  float: left;
  width: 100%;
  padding-left: $base-space-unit;
  padding-right: $base-space-unit;
}

// Small screens for greater than 320px
@media only screen and (min-width: 320px) {

  @for $i from 1 through $total-columns {
    .small#{-$i} {
      width: gridCalc($i, $total-columns)
    }
  }

}

// Large screens for greater than 768px
@media only screen and (min-width: 768px) {

  @for $i from 1 through $total-columns {
    .large#{-$i} {
      width: gridCalc($i, $total-columns)
    }
  }

}
